
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="">
									Hisher Inventory
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="https://www.facebook.com/Hisher2016" target="_blank" rel="noopener">Hisher General Merchandise</a> 
                        - developed by <a href="#" role="button" data-toggle="modal" data-target="#GroupBuddy">BUDDY</a>
					</div>				
				</div>
            </footer>
            