{% load static %}
<div class="social-icons">
    <div class="box">
        <a href="https://www.facebook.com/Hisher2016/"><img src="{% static 'assets/homepage_images/facebook.png' %}"></a>
    </div>

    <div class="box">
        <a href="https://www.lazada.com.ph/shop/hisher-general-merchandise-1589257803/?fbclid=IwAR2Cl6lttP4y4s6S9rVnCMWgU-Cd3CIOU4DY1_A_Z09qHRK4we_bjTyOb8E"><img src="{% static 'assets/homepage_images/lazada.png' %}"></a>
    </div>

    <div class="box">
        <a href="https://shopee.ph/hishermotorshop"><img src="{% static 'assets/homepage_images/shopee.png' %}"></a>
    </div>
</div>