asgiref
autopep8
django==2.2.10
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
django-jquery-js
django-formset-js
mysqlclient
wkhtmltopdf
pdfkit
django_serverside_datatable
django-cloudinary-storage
django-resized
pillow