{% extends "layouts/base.html" %} {% block title %} View Stock Adjustment Report{% endblock %}
<!-- Specific Page CSS goes HERE  --> {% block stylesheets %}
{% load static %}
<link rel="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" href="styles.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'assets/css/manage-style.css' %}">
<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css" rel="stylesheet" />
<style>
    .background-pic{
    background-image: url("{% static 'assets/img/bg-abstract2.png' %}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
</style> {% endblock stylesheets %} {% block content %} <div class="content">
    <div class="page-inner">
        <div class="page-header">
			<div class="mr-2">
                <h1 class="fw-bold m-0">View Stock Adjustment</h1>
                <h3 class="text-dark op-8 mt-0">Pull-Out</h3>
            </div>
            <ul class="breadcrumbs card mt-2 p-3 mb-0">
                <li class="nav-home"> <a href="{% url 'home' %}"> Dashboard </a> </li>
                <li class="separator"> <i class="flaticon-right-arrow"></i> </li>
				<li class="nav-item"> <a>Report</a> </li>
                <li class="separator"> <i class="flaticon-right-arrow"></i> </li>
                <li class="nav-item"> <a href="{% url 'stock-adj-report' %}" class="badge badge-secondary text-light">View Stock Adjustment (Pull-0ut)</a> </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card p-3 background-pic">
                    <div class="d-flex justify-content-center"> <span class="stamp stamp-md bg-white mr-3 rounded-circle"> <i class="fa fa-file text-dark"></i> </span>
                        <div>
                            <h2 class="mt-1 mb-1 text-white"><b>Stock Adjustment (Pull-Out) Report</b></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-lg-flex justify-content-between">
                            <div class="btn-group d-md-flex justify-content-center">
                                <div class="row">
                                    <div class="d-flex">
                                        <div class="btn-group" role="group" aria-label="Basic example"> <button id="export" type="button" class="ml-3 btn btn-light border-dark btn-ripple p-3 " data-toggle="dropdown" aria-expanded="false" onclick="this.blur();" style="cursor:default;"> <i class="fas fa-file-export"></i> Export <i class="fas fa-caret-down"></i> </button>
                                            <div class="dropdown-menu">
                                                <div id="csv" class="dropdown-item"></div>
                                                <div id="pdf" class="dropdown-item"></div>
                                            </div> <button id="print"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div> </div>
                        </div>
                    </div>
                    <div class="card mb-0">
                        <div class="card-body bg-light p-2 border-bottom border-secondary">
                            <div class="d-lg-flex">
                                <div class="pl-0 pr-4 ml-1 col-md-5 col-lg-5 form-group">
                                    <form autocomplete="off" class="mt-1 ml-3 mr-md-1">
                                        <div class="input-icon">
                                            <div class="has-clear"> <span class="input-icon-addon"> <span class="fas fa-search"></span> </span> <input type="text" id="search" placeholder="Search for..." class="form-control input-sm" size="50%"> <span class="form-control-clear fa fa-times form-control-feedback d-none"></span> </div>
                                        </div> <span class="text-secondary">Press Enter to search..</span>
                                    </form>
                                </div>
                                <div class="d-flex ml-2">
                                    <div class="form-group">
                                        <div class="form-control w-100"> <label for="daterange" class="placeholder border-bottom w-100 border-danger">Date </label> <input id="daterange" size="22%"> <button id="dateReset" class="btn btn-light text-secondary p-1">Reset</button> </div>
                                    </div>
                                    <div id="page-length" class="ml-lg-0 mr-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-0 mt-0 card-body p-2">
                        <div class="d-flex justify-content-center p-0 m-0">
                            <div class="pt-0 mt-0 p-2 table-responsive">
                                <table id="basic-datatables" class="display responsive table  table-hover text-wrap shadow">
                                    <thead>
                                        <tr class="bg-dark text-light">
                                            <th class="all">Product Name</th>
                                            <th class="all">Supplier</th>
                                            <th class="all">Previous Quantity</th>
                                            <th class="all">Quantity <br>(Pull-Out)</th>
                                            <th class="all">Quantity Left</th>
                                            <th class="all">Purchase Price</th>
                                            <th class="all sum">Total Amount <br>(Pull-Out)</th>
                                            <th class="all"></th>
                                            <th class="all">Date Recorded</th>
                                            <th class="all">Encoder</th>
											<th class="mobile-p">Remarks</th>
											<th class="all"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="basic-datatables-body"> {% for stock_pull_out in stock_pullout_log %} <tr>
                                            <td>{{stock_pull_out.product_name}}</td>
                                            <td>{{stock_pull_out.supplier_name}}</td>
											<td>{{stock_pull_out.previous_qty}}</td>
											<td>{{stock_pull_out.qty_pullout}}</td>
											<td>{{stock_pull_out.qty_left}}</td>
											<td>{{stock_pull_out.purch_price}}</td>
											<td>{{stock_pull_out.total_pullout}}</td>
											<td>{{stock_pull_out.created_date|date:"d M Y" }}</td>
											<td>{{stock_pull_out.created_date|date:"d M Y H:i a"}}</td>
											<td>{{stock_pull_out.encoder}}</td>
											<td>{{stock_pull_out.remarks}}</td>
											<td></td>
                                        </tr> {% endfor %} </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="6" class="bg-gray-100">
                                                <div class="d-flex flex-row-reverse">
                                                    <h2><b>Grand Total:</h2></b>
                                                </div>
                                            </th>
                                            <th colspan="4" class="bg-danger text-light"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div id="pagination-card" class="mt-2 d-flex justify-content-center"></div>
                        <div id="info-card" class="d-flex justify-content-center mb-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <form id="editform" method="post" autocomplete="off"> {% csrf_token %} <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group"> <label for="id" class="placeholder">Id <span class="text-danger">*</span></label> <input type="text" id="id" name="id" class="form-control" readonly> </div>
                                <div class="form-group"> <label for="name" class="placeholder">Name <span class="text-danger">*</span></label> {{ form.name }} </div>
                                <div class="form-group"> <label for="address" class="placeholder">Description <span class="text-danger">*</span></label> {{ form.description }} </div>
                                <div class="modal-footer"> <button type="submit" class="btn btn-success btn-ripple">Submit</button> <button type="button" id="clear1" class="btn btn-danger btn-ripple">Reset</button> <button id="cancel" type="button" class="btn bg-gray-500 text-white btn-ripple" data-dismiss="modal">Cancel</button> </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <form id="addform" method="post" autocomplete="off" data-parsley-validate> {% csrf_token %} <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group"> <label for="name" class="placeholder">Name <span class="text-danger">*</span></label> {{ form.name }} </div>
                            <div class="form-group"> <label for="address" class="placeholder">Description <span class="text-danger">*</span></label> {{ form.description }} </div>
                            <div class="modal-footer"> <button type="submit" class="btn btn-success btn-ripple">Submit</button> <button type="button" id="clear" class="btn btn-danger btn-ripple">Clear</button> <button id="cancel" type="button" class="btn bg-gray-500 text-white btn-ripple" data-dismiss="modal">Cancel</button> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> {% endblock content %}
<!-- Specific Page JS goes HERE  --> {% block javascripts %} <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.11.3/dataRender/datetime.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
<script>
    var table;
    
    var minDate, maxDate;
    
    		$(document).ready(function() {
    			var conv;
    			var tmp;
    			table = $('#basic-datatables').DataTable({
    				"order": [[ 8, "desc" ]],
    					"lengthMenu": [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "All"]],
    					"pageLength": -1,
    					columnDefs:[{
    						targets: [ 7 ],
    							"visible": false
    					},
						{
							className: 'dtr-control',
							orderable: false,
							targets: -1
						}],			
    				responsive: {
    					details: {
    						type: 'column',
    						target: -1
    					}
    				},
    				autoWidth: false,
    				buttons: {
    								buttons: [
    									{ extend: 'print', className: '',
    									text: 'Print',
    										footer: true,
    									exportOptions: {
    										columns: [0, 1, 2, 3, 4, 5, 6, 8, 9],
    										},
    										customize: function (win) {
    												$(win.document.body).find('table').addClass('display').css('font-size', '9px');
    												$(win.document.body).find('tfoot').each(function(index){
    													$(this).find('th:nth-child(1)').html('');
    													$(this).find('th:nth-child(2)').html('');
    													$(this).find('th:nth-child(3)').html('');
    													$(this).find('th:nth-child(4)').html('');
    													$(this).find('th:nth-child(5)').html('');
    													$(this).find('th:nth-child(8)').html('');
    													$(this).find('th:nth-child(9)').html('');
    												});
    												$(win.document.body).find('h1').css('text-align','center');
    
    												var last = null;
    												var current = null;
    												var bod = [];
    								 
    												var css = '@page { size: landscape; }',
    													head = win.document.head || win.document.getElementsByTagName('head')[0],
    													style = win.document.createElement('style');
    								 
    												style.type = 'text/css';
    												style.media = 'print';
    								 
    												if (style.styleSheet)
    												{
    												  style.styleSheet.cssText = css;
    												}
    												else
    												{
    												  style.appendChild(win.document.createTextNode(css));
    												}
    								 
    												head.appendChild(style);
    										}
    									},
    									{ extend: 'csv', className: 'btn',
    									exportOptions: {
    										columns: [0, 1, 2, 3, 4, 5, 6, 8, 9],
    										}
    									},
    									{ extend: 'pdfHtml5', 
    									className: 'btn',
    										footer: true,
    									orientation: 'landscape',
										pageSize : 'A2',
    									exportOptions: {
    										columns: [0, 1, 2, 3, 4, 5, 6, 8, 9],
    										},
    											customize: function (doc) {
    												doc.content[1].table.widths =Array(doc.content[1].table.body[0].length + 1).join('*').split('');
    												doc.defaultStyle.alignment = 'center';
    												doc.styles.tableHeader.alignment = 'center';
    												var rdoc = doc;
    												var rcout = doc.content[doc.content.length - 1].table.body.length - 1;
    												doc.content.splice(0, 1);
    												var now = new Date();
    												var jsDate = now.getDate() + '/' + (now.getMonth() + 1) + '/' + now.getFullYear() + '  and Time:' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
    												doc.pageMargins = [30, 70, 30, 30];
    												doc.defaultStyle.fontSize = 10;
    												doc.styles.tableHeader.fontSize = 10;
    												doc.styles.tableFooter.fontSize = 10;
    												doc.content[doc.content.length - 1].table.headerRows = 2;
    										
    
    												doc['header'] = (function (page, pages) {
    													return {
    														table: {
    															widths: ['100%'],
    															headerRows: 0,
    															body: [
    																[{ text: 'HisHer General Merchandise', alignment: 'center', fontSize: 20, bold: true, margin: [0, 10, 0, 0] }],
    																[
    																	{
    																		text:
    																			[
    																				{ text: 'Pull-Out Report for ', bold: true }, 	$('#daterange').val(),
    																			]
    																	}
    																]
    															]
    														},
    														layout: 'noBorders',
    														margin: 10
    													}
    												});
    							
    												doc['footer'] = (function (page, pages) {
    													return {
    														columns: [
    															{
    																alignment: 'left',
    																text: ['Created Date: ', { text: jsDate.toString() }]
    															},
    															{
    																alignment: 'center',
    																text: 'Total ' + rcout.toString() + ' rows'
    															},
    															{
    																alignment: 'right',
    																text: ['page ', { text: page.toString() }, ' of ', { text: pages.toString() }]
    															}
    														],
    														margin: 10
    													}
    												});
    							
    												var objLayout = {};
    												objLayout['hLineWidth'] = function (i) { return .8; };
    												objLayout['vLineWidth'] = function (i) { return .5; };
    												objLayout['hLineColor'] = function (i) { return '#aaa'; };
    												objLayout['vLineColor'] = function (i) { return '#aaa'; };
    												objLayout['paddingLeft'] = function (i) { return 5; };
    												objLayout['paddingRight'] = function (i) { return 35; };
    												doc.content[doc.content.length - 1].layout = objLayout;
    							
    											},
    									}
    								]
    							},
    								dom: "<'row p-2'<'col-lg-12' l B>>" +
    								"<'row'<'col-lg-12'tr>>" +
    								"<'row p-2'<'col-lg-5'i><'col-lg-7'p>>",
    						initComplete: function(settings, json) {
    							$(".buttons-print").appendTo("#print");
    							
    							$(".buttons-print").addClass("btn btn-light border-dark btn-ripple p-3 rounded-0 h-100");
    							$(".buttons-csv").appendTo("#csv");
    							$(".buttons-pdf").appendTo("#pdf");
    							$(".select-info .select-item:nth-child(1)").addClass("badge badge-primary text-light");
    							
    							$("#basic-datatables_length").appendTo("#page-length");
    							$("#basic-datatables_paginate").appendTo("#pagination-card");
    							$("#basic-datatables_info").appendTo("#info-card");
    							$('.buttons-print').html('<i class="fas fa-print"></i> Print');
    			
    						},
    							"footerCallback": function(row, data, start, end, display) {
    								var api = this.api();
    							   
    								api.columns('.sum', {
    								  page: 'current'
    								}).every(function() {
    								  var sum = this
    									.data()
    									.reduce(function(a, b) {
    									  var x = parseFloat(a) || 0;
    									  var y = parseFloat(b) || 0;
    									  return x + y;
    									}, 0);
    								  $(this.footer()).html("<h1><b>₱ "+Number(sum).toLocaleString(undefined, {
    									minimumFractionDigits: 2,
    									maximumFractionDigits: 2
    								  })+"</b></h1>");
    								});
    							  }
            });
    
    
			table.on( 'draw.dt', function() {
				setTimeout(function(){
					NProgress.done();
			   $("#basic-datatables").removeClass('table-loader').show();
			}, 400);});
			table.on( 'preDraw', function () {
				NProgress.start();
				  $("#basic-datatables").addClass('table-loader').show();
			} );
			
    
    		$('#search').keypress(function(e){
    				if(e.which == 13) {
    					e.preventDefault()
    				    table.search($(this).val()).draw();
    	   			}
    		   });
    		$('#search').keyup(function(e){ 
    			if(e.which  == 8) {
    				e.preventDefault()
    				table.search($(this).val()).draw();
    			   }
    		});
    
    		var selectedRows=0;
    
    		$(".alert-del").click(function(){
    			$(this).parent().addClass('hidden');
    		}); 
    			  var date = new Date();
    			var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
    			var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
    			$("#daterange").daterangepicker({
    				startDate: firstDay,
    				endDate: lastDay,
    			});
    			$("#dateReset").on("click",function (e) {
    				$('#daterange').data('daterangepicker').setStartDate(firstDay);
    				$('#daterange').data('daterangepicker').setEndDate(lastDay);
    				minDateFilter = Date.parse(firstDay);
    				maxDateFilter = Date.parse(lastDay);
    				
    					$.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
    					var date = Date.parse(data[7]);
    
    					if (
    					(isNaN(minDateFilter) && isNaN(maxDateFilter)) ||
    					(isNaN(minDateFilter) && date <= maxDateFilter) ||
    					(minDateFilter <= date && isNaN(maxDateFilter)) ||
    					(minDateFilter <= date && date <= maxDateFilter)
    					) {
    					return true;
    					}
    					return false;
    					});
    					table.draw();
    		
    			});
    			
    
    			  minDateFilter = "";
     			  maxDateFilter = "";
    
    				$("input#daterange").on("apply.daterangepicker", function(ev, picker) {
    		
    					minDateFilter = Date.parse(picker.startDate);
    					maxDateFilter = Date.parse(picker.endDate);
    			
    					
    					$.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
    					var date = Date.parse(data[7]);
    
    					if (
    					(isNaN(minDateFilter) && isNaN(maxDateFilter)) ||
    					(isNaN(minDateFilter) && date <= maxDateFilter) ||
    					(minDateFilter <= date && isNaN(maxDateFilter)) ||
    					(minDateFilter <= date && date <= maxDateFilter)
    					) {
    					return true;
    					}
    					return false;
    					});
    					table.draw();
    				}); 
    			$("#dateReset").click();
    		});
    	
</script> {% endblock javascripts %}